@model IQueryable<Moon.Entities.Files>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "My Courses";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyCourses</title>
</head>
<body>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Course</th>
                <th>Owner ID</th>
                <th>Lecturer</th>
                <th>Date-Time</th>
                <th>Like</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseCode)-@Html.DisplayFor(modelItem => item.Category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ownerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lecturer)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedOn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Likes)
                    </td>
                    <td>
                        <a asp-action="DisplayPDF" asp-route-id="@item.DocumentId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.DocumentId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
</html>
