@model PaginatedList<Moon.Entities.Files>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Home Page";
}
@addTagHelper *, ReflectionIT.Mvc.Paging

<!DOCTYPE html>
<html>
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="~/HomeStyles/css/index.css" type="text/css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>

    <!-- !PAGE CONTENT! -->
    <!-- <div class="row">
         <div class="column" style="background-color:#aaa;">
             <form asp-action="Index" method="get">
                 <div id="myItemList" class="searchable">
                     <input type="text" placeholder="search a course code.." onkeyup="filterFunction(this,event)">
                 </div>
                 <div class="form-actions no-color">
                     <input type="text" placeholder="search a course number.." name="SearchString" value="@ViewData["CurrentFilter"]" />
                 </div>
                 <input type="submit" value="Search" class="btn btn-block" /> |
                 <a asp-action="Index">Back to Full List</a>
             </form>
         </div>
         <div class="column" style="background-color:#bbb;">
             <h2>Column 2</h2>
             <p>Some text..</p>
         </div>
     </div>-->
    <div class="row">
        <div class="column" style="background-color:#ccc;">
            <div class="container">
                <div class="row">
                    <table class="table table-striped">
                        <thead>
                            <tr class="table-striped" style="background-color:aliceblue">
                                <th>Title</th>
                                <th>Course</th>
                                <th>Lecturer</th>
                                <th>Owner</th>
                                <th><a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Date</a></th>
                                <th>Like</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr class="table-condensed">
                                    <td class="tab-content">
                                        <a href="@Url.Action("Login", "Home")">@Html.DisplayFor(modelItem => item.Title)</a>
                                    </td>
                                    <td class="tab-content">
                                        <a>@Html.DisplayFor(modelItem => item.CourseCode)-@Html.DisplayFor(modelItem => item.Category)</a>
                                    </td>
                                    <td class="tab-content">
                                        @Html.DisplayFor(modelItem => item.Lecturer)
                                    </td>
                                    <td class="tab-content">
                                        @Html.DisplayFor(modelItem => item.ownerId)
                                    </td>
                                    <td class="tab-content">
                                        @Html.DisplayFor(modelItem => item.CreatedOn)
                                    </td>
                                    <td class="tab-content">
                                        @Html.DisplayFor(modelItem => item.Likes)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }

                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex - 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @prevDisabled">
                        Previous
                    </a>
                    <a asp-action="Index"
                       asp-route-sortOrder="@ViewData["CurrentSort"]"
                       asp-route-pageNumber="@(Model.PageIndex + 1)"
                       asp-route-currentFilter="@ViewData["CurrentFilter"]"
                       class="btn btn-default @nextDisabled">
                        Next
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="column" style="background-color:#ddd;">
        <form asp-action="Index" method="get">
                <div class="wrapper">    <!--course filter ile controller a value degeri gececek-->
                    <select name="SearchCode" value="@ViewData["CurrentCourseFilter"]" class="form-control" onfocus='this.size=5;' onblur='this.size=1;' onchange='this.size = 1; this.blur();'>
                        <option value="ONE">One</option>
                        <option value="BLM">BLM</option>
                        <option value="END">Three</option>
                        <option value="ITB">Four</option>
                        <option value="STL">Five</option>
                        <option value="KI">Six</option>
                        <option value="ISL">Seven</option>
                        <option value="SEU">Eight</option>
                        <option value="CI">Nine</option>
                        <option value="PIE">Ten</option>
                    </select>
                </div>
            <div class="row-group-2">
                <div class="form-actions no-color">
                    <input id="group_value" type="number" placeholder="search a course number.." name="SearchGroup" value="@ViewData["CurrentFilter"]" />
                    <input value="Search" type="submit" class="btn btn-block" />
                    <a asp-action="Index">Back to Full List</a>
                </div>
            </div>
        </form>
    </div>
    <!--  <script>
              function filterFunction(that, event) {
                  let container, input, filter, li, input_val;
                  container = $(that).closest(".searchable");
                  input_val = container.find("input").val().toUpperCase();

                  if (["ArrowDown", "ArrowUp", "Enter"].indexOf(event.key) != -1) {
                      keyControl(event, container)
                  } else {
                      li = container.find("ul li");
                      li.each(function (i, obj) {
                          if ($(this).text().toUpperCase().indexOf(input_val) > -1) {
                              $(this).show();
                          } else {
                              $(this).hide();
                          }
                      });

                      container.find("ul li").removeClass("selected");
                      setTimeout(function () {
                          container.find("ul li:visible").first().addClass("selected");
                      }, 100)
                  }
              }

              function keyControl(e, container) {
                  if (e.key == "ArrowDown") {

                      if (container.find("ul li").hasClass("selected")) {
                          if (container.find("ul li:visible").index(container.find("ul li.selected")) + 1 < container.find("ul li:visible").length) {
                              container.find("ul li.selected").removeClass("selected").nextAll().not('[style*="display: none"]').first().addClass("selected");
                          }

                      } else {
                          container.find("ul li:first-child").addClass("selected");
                      }

                  } else if (e.key == "ArrowUp") {

                      if (container.find("ul li:visible").index(container.find("ul li.selected")) > 0) {
                          container.find("ul li.selected").removeClass("selected").prevAll().not('[style*="display: none"]').first().addClass("selected");
                      }
                  } else if (e.key == "Enter") {
                      container.find("input").val(container.find("ul li.selected").text()).blur();
                      onSelect(container.find("ul li.selected").text())
                  }

                  container.find("ul li.selected")[0].scrollIntoView({
                      behavior: "smooth",
                  });
              }

              $(".searchable input").focus(function () {
                  $(this).closest(".searchable").find("ul").show();
                  $(this).closest(".searchable").find("ul li").show();
              });
              $(".searchable input").blur(function () {
                  let that = this;
                  setTimeout(function () {
                      $(that).closest(".searchable").find("ul").hide();
                  }, 300);
              });

              $(document).on('click', '.searchable ul li', function () {
                  $(this).closest(".searchable").find("input").val($(this).text()).blur();
                  onSelect($(this).text())
              });

              $(".searchable ul li").hover(function () {
                  $(this).closest(".searchable").find("ul li.selected").removeClass("selected");
                  $(this).addClass("selected");
              });
          </script>
      <script>
          let items = [
              'Blue',
              'Red',
              'White',
              'Green',
              'Black',
              'Orange'
          ],
              ul = document.createElement('ul');

          document.getElementById('myItemList').appendChild(ul);

          items.forEach(function (item) {
              let li = document.createElement('li');
              ul.appendChild(li);

              li.innerHTML += item;
          });
      </script> -->
</body>
</html>