@model StudentViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Login";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/login_.css" type="text/css" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()
        <div class="login">
            <form id="login" method="post">
                <img src="~/StudentStyles/images/student_icon.jpg" /><br />
                <div class="form-group">
                    @Html.LabelFor(m => m.Student.Id, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Student.Id, new { @class = "form-control" })
                    </div>
                </div>
                <br><br>
                <div class="form-group">
                    @Html.LabelFor(m => m.Student.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Student.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Submit" />
                    </div>
                </div>
            </form>
        </div>
    }
    <div class="row">
        <input type="button" value="Create new Account" onclick="window.location.href = '@Url.Action("Add", "Home")';" />
    </div>
</body>
</html>
